$header: #454545;
$white: #ffffff;
$black: #000000;
$dark: #191919;
$blue: #04A1DD;
$dark-blue: #0096d6;
$lighter-gray: #F4F4F4;
$light-gray: #ABABAB;
$gray: #828282;
$dark-gray: #454545;
$label: #303030;
$select: #111111;
$apc-gray: #E7E7E7;
$discalimer: #767676;
$table-title: #9b9b9b;
$program-gray: #f6f6f6;
$orange: #C8932B;

// BUTTONS
$primary-btn: #0096d6;
$light-btn: #ffffff;
$dark-btn: #000000;

// border
$gray-border: #979797;
$blue-border: #0087C1;;
$border: #CCCCCC;
$graph-border: #8d8d8d;
$table-border: #BBBBBB;