@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

header {
	background-color: $header;
	margin: 0 0 41px;

	.brand {
		@include flexMiddle;

		h1 {
			@include hpe-bold;
			font-size: 28px;
			line-height: 32px;
			padding: 0;
			margin: 34px 25px;

			a {
				color: $white;
				text-decoration: none;
			}
		}
	}

	.nav-item {
		text-align: center;
		@include hpe-bold;
		padding: 0;

		img {
			margin-right: 18px;
		}

		.btn,
		a,
		span {
			@include flexCenter;
			font-size: 20px;
			line-height: 23px;
			height: 100%;
			color: $white;
			padding: 20px;
			text-decoration: none;
			margin: 0 auto;

			&.active {
				background-color: $blue;
			}
		}
	}
}
