@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.pagewide {
	@include form-container;
	@include form;

	.title {
		background-color: $dark-blue;
		@include form-title;
	}

	.sub-title {
		background-color: $blue;
		@include form-sub-title;
	}

	h4 {
		@include form-h4;
	}
}

#tcoTool {
	margin-bottom: 41px;
	.competitive {
		@include form-container;
		@include form;

		.title {
			background-color: $gray;
			@include form-title;
		}

		.sub-title {
			background-color: $light-gray;
			@include form-sub-title;
		}
	}
	select.form-control {
		background-color: $white;
		-webkit-appearance: none;
		-moz-appearance: none;
		&::-ms-expand {
			display: none;
		}

		&:not(:disabled) {
			background-image: url(./images/arrowDown.png);
			background-repeat: no-repeat;
			background-position: right 10px center;
		}
	}
}
