@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

footer {
	border-top: 1px solid $gray-border;

	&.container {
		max-width: 1267px;
	}

	.row {
		padding: 20px 15px 100px;
		display: flex;

		.btn {
			@include hpe-bold;
			font-size: 17px;
			line-height: 20px;
			padding: 9px 42px;
			border-radius: 0 4px 0 4px;

			&-prev {
				@include flexMiddle;
				color: $dark-btn;
				background-color: $white;
				border-color: $white;
				margin-right: auto;
				padding: 0;
				border: none;

				img {
					margin: 0 14px 0 9px;
				}

				&:focus {
					@include focus;
				}
			}

			&-next {
				color: $white;
				background-color: $primary-btn;
				border-color: $primary-btn;
				margin-left: auto;

				&.disabled,
				&:disabled {
					opacity: 0.65;
				}

				&:focus {
					@include focus;
				}
			}

			&-pdf {
				color: $light-btn;
				background-color: $dark-gray;
				border-color: $dark-gray;
				margin-left: auto;

				&:focus {
					@include focus;
				}
			}
		}
	}
}
